<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/app.css' | relative_url }}">
  {% if page.katex %}
        <!-- CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@latest/dist/katex.min.css"/>

        <!-- JavaScript -->
        <script defer src="https://cdn.jsdelivr.net/npm/katex@latest/dist/katex.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/katex@latest/dist/contrib/auto-render.min.js"
        onload="renderMathInElement(document.body,{
            delimiters: [
            { left: '$$',  right: '$$',  display: true  },
            { left: '$',   right: '$',   display: false },
            { left: '\\[', right: '\\]', display: true  },
            { left: '\\(', right: '\\)', display: false }
        ]});">
        </script>
    {% endif %}
</head>
<body>
  <header>
    <nav class="navbar is-primary is-fixed-top">
      <div class="container">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">Joseph McGuire</a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-start">
            <a href="/" class="navbar-item">Home</a>
            <a href="/about/" class="navbar-item">About</a>
            <a href="/contact/" class="navbar-item">Contact</a>
            <a href="/posts/" class="navbar-item">Blog Posts</a>
            <a href="/technical-writing/" class="navbar-item">Technical Writing</a>
            <a href="/github-projects/" class="navbar-item">GitHub Projects</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main class="section" style="background-color: #f0f0f0;">
    <div class="container">
      <div class="header" style="position: relative; background-image: url('{{ page.header_image | default: '/assets/images/bishop-peak.png' }}'); background-size: cover; background-position: center; padding: 100px 0; text-align: center; color: #fff;">
        <div class="header-content" style="position: relative; z-index: 2;">
          <h1 class="title" style="font-size: 2.5em; margin-bottom: 10px; color: #fff;">{{ page.title }}</h1>
          <p class="subtitle" style="font-size: 1.2em; margin-top: 0; color: #fff;">{{ page.date | date: "%B %d, %Y" }}</p>
        </div>
        <div style="content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1;"></div>
      </div>
      <div class="section" style="padding: 20px; background-color: #fff; margin: 20px 0; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <article class="content">
          {{ content }}
        </article>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes</a></p>
      </div>
    </div>
  </footer>
</body>
</html>